.card.night_mode {
 background: #f8f5de;
 color: black;
}

#front {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto;
}

.command {
  font: 16px/20px Georgia, serif;
  background: lightgray;
  font-size: 1.2em;
  font-weight: 500;
  border: 1px;
  margin:0;
  padding: 3px;
}